.nav {
  position: fixed;
  left: 50%;
  top: 10px;
  z-index: 100;
  backdrop-filter: blur(20px);
  border: 2px solid black;
  transform: translateX(-50%);
  border-radius: 20px;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  text-align: center;
  justify-content: center;
}
.ul{
  display: flex;
  flex-direction: row;
  align-items: center;  
  justify-items: center;
  gap: 50px; 
  padding-left: 10px;
  padding-right: 10px;
  list-style-type: none;
}
.li {
  cursor: pointer;
  margin-left: 2px;
  margin-right: 2px;
}
.li:hover {
  transition-duration: 100ms;
  scale: 1.15;
  font-weight: bold;
}