.App {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-align: center;
  max-height: 100vh;
  max-width: 100vw;
  background-color: gray;
}

h1 {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: 100;
  font-size: 7rem;
}
